[submodule "tmux/.config/tmux/plugins/tmux"]
	path = tmux/.config/tmux/plugins/tmux
	url = https://github.com/dracula/tmux.git
[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "nvim/.config/nvim/bundle/auto-pairs"]
	path = nvim/.config/nvim/bundle/auto-pairs
	url = https://github.com/chun-yang/auto-pairs.git
[submodule "nvim/.config/nvim/bundle/fzf"]
	path = nvim/.config/nvim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "nvim/.config/nvim/bundle/vim-surround"]
	path = nvim/.config/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/.config/nvim/bundle/coc.nvim"]
	path = nvim/.config/nvim/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "tmux/.config/tmux/plugins/tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
[submodule "nvim/.config/nvim/bundle/vem-tabline"]
	path = nvim/.config/nvim/bundle/vem-tabline
	url = https://github.com/pacha/vem-tabline.git
	ignore = dirty
[submodule "nvim/.config/nvim/bundle/vim-devicons"]
	path = nvim/.config/nvim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "nvim/.config/nvim/bundle/vim-snazzy"]
	path = nvim/.config/nvim/bundle/vim-snazzy
	url = https://github.com/connorholyday/vim-snazzy.git
[submodule "nvim/.config/nvim/bundle/vim-fugitive"]
	path = nvim/.config/nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/.config/nvim/bundle/lualine.nvim"]
	path = nvim/.config/nvim/bundle/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "starship/starship"]
	path = starship/starship
	url = https://github.com/Borris-the-real-OG/starship.git
[submodule "nvim/vim-pathogen"]
	path = nvim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "nvim/.config/nvim/bundle/nvim-tree.lua"]
	path = nvim/.config/nvim/bundle/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "nvim/.config/nvim/bundle/nvim-treesitter"]
	path = nvim/.config/nvim/bundle/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/.config/nvim/bundle/gitsigns.nvim"]
	path = nvim/.config/nvim/bundle/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "nvim/.config/nvim/bundle/nvim-cmp"]
	path = nvim/.config/nvim/bundle/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
